<div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h4><em>Contact Us</em></h4>

                        <h3>We Can Help</h3>

                        <div id="headerDivider">
                            <div id="dividerStart"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <form {{action 'sendMandrillEmail' on="submit"}}>
                      <label for="from_name">From:</label><br/>
                      {{input id="from_name" type="text" value=fromName placeholder="Name"}}<br/>
                      {{input id="from_email" type="email" value=fromEmail placeholder="Email"}}<br/>
                      <label for="email_subject">Subject:</label><br/>
                      {{input id="email_subject" type="text" value=emailSubject}}<br/>
                      <label for="to_name">To:</label><br/>
                      {{input id="to_name" type="text" value=toName placeholder="Name"}}<br/>
                      {{input id="to_email" type="text" value=toEmail placeholder="Email"}}<br/>
                      <label for="email_message">Message:</label><br/>
                      {{textarea id="email_message" value=emailMessage cols="80" rows="6" placeholder="Message to be sent"}}<br/>
                      <button type="submit">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>